body {
  background: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467);
  background-size: cover;
  background-position: center;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Lato";
  color: white;
}

h1 {
  font-weight: 700;
  font-size: 5em;
}


.content{
  padding-top: 5%;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
  margin-bottom: 50px;
}

hr {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.textField{
  background-color: dimgray;
  border: solid;
  margin-bottom: 3%
}

.textValue{
  padding: 1% 3% 0% 5%;
  font-family: "Lato";
}

.textProperty{
  text-align: center;
  padding-top: 10%;
}

#nameAnimal{
  text-align: center;
  font-size: 2em;
  font-weight: 900;

}

.objectPropertyValue {
  text-align: center;
  padding-top: 2%;
}



#inputSearch{
  width: 600px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 10px;
  float:left;
}